<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button">
            <b>AB</b> Architects
        </a>
        <div class='w3-right w3-hide-small'>
            <a href="#products" class="w3-bar-item w3-button">Products</a>
            <a href="#about" class="w3-bar-item w3-button">About</a>
            <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            <a href="login" class="w3-bar-item w3-button w3-text-red">Login</a>
        </div>
    </div>
</div>